// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
}

.label-field {
  margin-top: 1rem;
  font-size: .85em;
  height: 42px;
  line-height: 2.4;
  @media #{$large-and-up} {
    text-align: right;
  }
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
