<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">빅펄</h5>
        <p class="grey-text text-lighten-4">브이로거 매칭 플랫폼, 빅펄</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="https://facebook.com/i.am.jyoon" target="_blank"><i class="fa fa-facebook"></i></a></li> 
          <li><a href="https://www.instagram.com/jaeyo_on_/" target="_blank"><i class="fa fa-instagram"></i></a></li> 
          <li><a href="https://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright 빅펄
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
