<!-- Footer -->
<footer class="page-footer">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="container thin grey-text text-lighten-4">
    <p class="left">
      <a class="grey-text text-lighten-4">회사 소개</a> &nbsp; |  &nbsp; 
      <a class="grey-text text-lighten-4">개인정보처리방침</a> &nbsp; |  &nbsp; 
      <a class="grey-text text-lighten-4">이용약관</a>
    </p>
    <p class="right">
      <img src="/assets/img/tmp_logo_clam.png" alt="logo" class="responsive-img">
    </p>
  </div>
</footer>
