.chip {
  display: inline-block;
  height: 30px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
  line-height: 30px;
  padding: 0 12px;
  border-radius: 15px;
  background-color: $primary-color;
  margin-bottom: 6px;
  margin-right: 8px;
  
  :nth-of-type(2n) {
    background-color: $secondary-color;
  }
  
  > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  i {
    cursor: pointer;
    float: right;
    line-height: 31px;
    padding-left: 6px;
  }
}

.chips {
  border: none;
  border: 1px solid $input-border-color;
  box-shadow: none;
  margin: $input-margin;
  padding: 0 1em;
  outline: none;
  transition: all .3s;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;

  &.focus {
    border: 1px solid $input-focus-color;
  }

  &:hover {
    cursor: text;
  }
  
  // Invalid Input Style
  &.invalid,
  &:focus.invalid {
    @extend %invalid-input-style;
  }

  // Custom Error message
  &.invalid + label:after,
  &:focus.invalid + label:after {
    @extend %custom-error-message;
  }

  .chip.selected {
    background-color: $input-focus-color;
    color: #fff;
  }

  .input {
    background: none;
    border: 0;
    color: rgba(0,0,0,.6);
    display: inline-block;
    font-size: $input-font-size;
    height: $input-height;
    line-height: 32px;
    outline: 0;
    margin: 0;
    padding: 0 !important;
    width: 120px !important;
  }

  .input:focus {
    border: 0 !important;
    box-shadow: none !important;
  }

  // Autocomplete
  .autocomplete-content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Form prefix
.prefix ~ .chips {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}
.chips:empty ~ label  {
  font-size: 0.8rem;
  transform: translateY(-140%);
}
