/* Navbar */
.brand-logo {
  width: 3em;
}

/* Banner */
.banner {
  height: 200px;
  max-height: 30vh;
  background: top center $secondary-bg-color no-repeat;
  background-image: url("#{$baseurl}/assets/img/banner_bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: float-background 2s ease-in-out;
  
  h3 {
    letter-spacing: -2px;
    margin-bottom: 0;
  }
}

@keyframes float-background {
  0% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}

/* Circular Process Bar */
svg.pie {
  max-width: 300px;
  transform: rotate(-90deg);
  fill: none;
  circle {
    stroke-width: 1;
  }
  .bar {
    stroke-width: 8;
    stroke-linecap: round;
  }
}

.pie-text {
  h3 {
    margin: 10px 0 12px;
  }
}

// Footer
.page-footer {
  padding-top: 160px;
  position: relative;
  overflow: hidden;
  height: 236px;
  line-height: 50px;
  img {
    width: 55px;
    margin-top: -18px;
  }
}
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #9776fc;
  z-index: -1;

  .wave {
    background: url("#{$baseurl}/assets/img/footer.svg") repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    
    &:nth-of-type(2) {
      top: -175px;
      animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.5s infinite, swell 7s ease -1.25s infinite;
    }
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}